@import 'tailwindcss';

@theme {
  --color-bg: #2f2413;
  --color-surface: #3a2d18;
  --color-accent: #ba7634;
  --color-vectorize: #932f15;
  --color-convert: #5a5630;
  --color-text: #f5f0e8;
  --color-text-secondary: #a69b92;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
